@model Kit19.Model.ProductViewModel

<form asp-controller="Product" asp-action="Search" method="post" class="mt-4">
    <div class="form-group">
        <label asp-for="ProductName">Product Name</label>
        <input asp-for="ProductName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Size">Size</label>
        <input asp-for="Size" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" type="text" pattern="[0-9]+" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MfgDate">Date</label>
        <input asp-for="MfgDate" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Category">Category</label>
        <input asp-for="Category" class="form-control" />
    </div><br/>
    <button align="center" type="submit" class="btn btn-primary">Search</button>
</form>
